/* Footer Container */
.footer {
  background-color: #f8f8f8;
  padding: 30px 5%;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 1em;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure the content is spaced out */
  min-height: 200px; /* Adjust based on your content */
}

/* Footer Sections */
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1; /* Allow the container to take up available space */
}

/* Footer Section Styles */
.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-section p,
.footer-section ul {
  margin: 0;
  padding: 0;
}

.footer-section a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: #0056b3;
}

/* Quick Links */
.footer-section ul {
  list-style-type: none;
}

.footer-section ul li {
  margin-bottom: 8px;
}

/* Social Media Icons */
.social-icons {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  gap: 15px;
}

.social-icons a img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.social-icons a:hover img {
  transform: scale(1.1);
}

/* Copyright Section */
.footer-section p {
  font-size: 0.9em;
  color: #888;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
  }
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
}
