/* General styles for mobile-first view */
.app-promo {
  display: flex;
  flex-direction: column;
  background-color: #fff; /* Light red background */
  padding: 25px;
  border-radius: 12px;
  align-items: center;
  text-align: center;
  /* margin: 10px; */
  padding:0  10%;
}

.content-left,
.content-middle,
.content-right {
  margin-bottom: 20px;
}

.content-left h2 {
  font-size: 1.5rem;
  color: #e74c3c; /* Dark red */
  margin-bottom: 10px;
}

.content-left ul {
  list-style: none;
  padding: 0;
}

.content-left ul li {
  font-size: 1rem;
  color: #333;
  margin-bottom: 8px;
}

.check-icon {
  color: #27ae60; /* Green for checkmark */
  font-weight: bold;
  margin-right: 8px;
}

.ratings {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.ratings div {
  text-align: left;
}

.rating {
  font-size: 1.2rem;
  font-weight: bold;
  color: #f39c12; /* Gold */
}

.content-middle .qr-code img {
  width: 120px;
  height: 120px;
  margin: 0px 0;
}

.google-play-button {
  width: 140px;
  margin: 5px;
  border-radius: 5px;
}

.app-store-button{
  width: 130px;
  margin: 5px;
  border-radius: 5px;
}
/* Media query for screens with min-width: 768px */
@media (min-width: 768px) {
  .app-promo {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .content-left,
  .content-middle,
  .content-right {
    flex: 1;
    margin-bottom: 0;
  }

  .content-left {
    text-align: left;
  }

  .content-middle {
    text-align: center;
  }

  .content-right {
    text-align: right;
  }

  .content-middle .qr-code img {
    width: 150px;
    height: 150px;
  }

  .store-buttons img {
    width: 150px;
  }
  .rating{
    align-items: center;
  }
}
